---
import Avatar from "../ui/avatar.astro";
import Box from "@/components/box/index.astro";
import BoxContent from "@/components/box/content.astro";

import { Briefcase } from "lucide-react";
import { PROFILE_INFO } from "@/lib/config";

import VerifiedIcon from "@/components/icons/verified.astro";
import XIcon from "@/components/icons/x.astro";
import LinkedinIcon from "@/components/icons/linkedin.astro";
import GithubIcon from "@/components/icons/github.astro";
---

<div class="screen-line-after relative flex items-center p-4 md:border-x">
  <div class="shrink-0">
    <div class="relative z-1 mx-0.5 my-1">
      <Avatar
        className="size-20 rounded-full ring-1 ring-border ring-offset-2 ring-offset-background sm:size-28"
      />
    </div>
  </div>

  <div class="flex flex-1 flex-col">
    <div class="flex grow items-end pb-1 pl-4">
      <div class="line-clamp-1 font-mono text-xs text-muted-foreground">
        {PROFILE_INFO.slogan}
      </div>
    </div>

    <div class="">
      <h1 class="flex items-center gap-x-2 pl-4 text-2xl font-black">
        {PROFILE_INFO.displayName}
        <VerifiedIcon class="size-4 text-blue-500" />
      </h1>

      <div class="py-1 pl-4">
        <p class="text-sm !font-normal">
          {PROFILE_INFO.role}
        </p>
      </div>
    </div>
  </div>
</div>

{
  /* Callout badge
<div
  class="screen-line-after inline-flex w-full items-center gap-2 border-x bg-yellow-100 px-3 py-2 text-sm font-semibold dark:bg-yellow-500/10"
>
  <span class="animate-bounce text-base">👋</span> I'm open to new opportunities
  —
  <a href={`mailto:${PROFILE_INFO.email}`} class="underline underline-offset-4">
    get in touch
  </a>
</div>
 */
}

<Box>
  <BoxContent className="space-y-3">
    <span class="flex items-center justify-start gap-2">
      <Briefcase className="size-4" />
      I build software at
      <a
        href="https://www.linkedin.com/company/geekwerke/"
        target="_blank"
        class="underline underline-offset-4"
      >
        Geekwerke
      </a>
    </span>
    <span class="flex items-center justify-start gap-2">
      <Briefcase className="size-4" />
      Take a look at my
      <a
        href="https://drive.google.com/file/d/1FD2kilub6yXhMdoZosgVaeP0wWEClqkS/view?usp=sharing"
        target="_blank"
        class="underline underline-offset-4"
      >
        Resume
      </a>
    </span>

    <span class="flex items-center justify-start gap-2">
      <XIcon className="size-4" />
      Follow me on
      <a
        href="https://x.com/yashbaddi"
        target="_blank"
        class="underline underline-offset-4"
      >
        Twitter
      </a>
    </span>

    <span class="flex items-center justify-start gap-2">
      <LinkedinIcon className="size-4" />
      Let's connect on
      <a
        href="https://www.linkedin.com/in/yashbaddi/"
        class="underline underline-offset-4"
        target="_blank"
      >
        LinkedIn
      </a>
    </span>

    <span class="flex items-center justify-start gap-2">
      <GithubIcon className="size-4" />
      Check out my repos on
      <a
        href="https://github.com/yashbaddi"
        class="underline underline-offset-4"
        target="_blank"
      >
        GitHub
      </a>
    </span>
  </BoxContent>
</Box>
