---
import Box from "@/components/box/index.astro";
import BoxHeader from "@/components/box/header.astro";
import BoxTitle from "@/components/box/title.astro";
import BoxContent from "@/components/box/content.astro";
import TechIcon from "@/components/icons/tech.astro";
import { TECH_STACK } from "@/lib/tech-stack";
---

<Box>
  <BoxHeader>
    <BoxTitle>Tech Stack</BoxTitle>
  </BoxHeader>
  <BoxContent>
    <div
      class="grid grid-cols-[repeat(auto-fill,minmax(120px,1fr))] gap-3"
      style="content-visibility: auto; contain-intrinsic-size: auto 48px;"
    >
      {
        TECH_STACK.map((item) => (
          <TechIcon href={item.href} Icon={item.icon} title={item.title} />
        ))
      }
    </div>
  </BoxContent>
</Box>
