---
import Layout from "@/layouts/layout.astro";
import Navbar from "@/components/navbar/index.astro";
import Pattern from "@/components/ui/pattern.astro";
---

<Layout title="Devfolio - Yash">
  <Navbar />
  <main
    aria-label="Main content"
    class="mx-auto min-h-[calc(100vh-120px)] max-w-3xl"
  >
    <Pattern className="h-14" />
  </main>
</Layout>
