---
import NavLinks from "@/components/sections/navbar/nav-links.astro";
import { PROFILE_INFO } from "@/lib/config";

interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<nav
  class:list={[
    "screen-line-after sticky top-0 z-50 w-full bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60",
    className,
  ]}
>
  <div
    class="mx-auto flex max-w-3xl items-center justify-between px-4 py-1 md:border-x"
  >
    <a href="/">
      <h1 class="text-xl font-bold">{PROFILE_INFO.logo}</h1>
    </a>

    <div class="flex items-center justify-center gap-4">
      <NavLinks />
    </div>
  </div>
</nav>
